@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';

.projectWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 10px;
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 1px solid colors.$GRAYE;
  }
  &:first-of-type {
    padding-top: 0;
  }
}

.iconAndImageWrapper {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: sizes.$FONT_L;
    margin-bottom: 10px;
    color: colors.$SLATE6;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & > span {
    color: colors.$SLATE4;
    font-size: sizes.$FONT_MS;
    margin-bottom: 15px;
  }
}

.linkWrapper {
  display: flex;
  flex-direction: row;

  a {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  svg {
    width: 20px;
    height: 20px;
    fill: colors.$GRAY6;
  }
}

.digestWrapper {
  display: inline-block;
  color: colors.$BLACK;
  font-size: sizes.$FONT_MS;
  line-height: calc(sizes.$FONT_MS + 4px);
  margin-bottom: 10px;

  & > span {
    display: inline-block;
    margin-bottom: 5px;
  }
}

.projectDigest {
  margin-top: 10px;
}
