$WHITE: #ffffff;
$BLACK: #111111;

$GRAY3: #333333;
$GRAY6: #666666;
$GRAY9: #999999;
$GRAYA: #aaaaaa;
$GRAYC: #cccccc;
$GRAYE: #eeeeee;

$BLACK_TRANSPARENT: #11111170;
$WHITE_TRANSPARENT: #ffffffc0;
$WHITE_TRANSPARENT_DIMMED: #ffffff90;
