$WHITE: #ffffff;
$BLACK: #111111;

$GRAY3: #333333;
$GRAY6: #666666;
$GRAY9: #999999;
$GRAYA: #aaaaaa;
$GRAYC: #cccccc;
$GRAYE: #eeeeee;

$SLATE2: rgb(226 232 240);
$SLATE3: rgb(203 213 225);
$SLATE4: rgb(148 163 184);
$SLATE6: rgb(71 85 105);
$SLATE8: rgb(30 41 59);

$BLACK_TRANSPARENT: #11111170;
$WHITE_TRANSPARENT: #ffffffc0;
$WHITE_TRANSPARENT_DIMMED: #ffffff90;
