$FONT_XS: 9px;
$FONT_S: 11px;
$FONT_MS: 14px;
$FONT_M: 16px;
$FONT_ML: 18px;
$FONT_L: 20px;
$FONT_XL: 25px;
$FONT_XXL: 30px;
$FONT_XXXL: 40px;

$BRANCH_MAINSTREAM_HEIGHT: 800px;

$MAIN_INNER_MAX_WIDTH: 960px;

$RESUME_MIN_WIDTH: 768px;
$RESUME_MAX_WIDTH: 1080px;
