@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';

.mainWrapper {
  width: 100%;
  // min-width: sizes.$RESUME_MIN_WIDTH;
  max-width: sizes.$RESUME_MAX_WIDTH;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: scroll;
  padding: 50px;
  padding-top: 0;
  background-color: colors.$WHITE;
}
