@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';

.headerElementWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  h2 {
    width: 80px;
    font-size: sizes.$FONT_MS;
    color: colors.$SLATE6;
    font-weight: 500;
    line-height: calc(sizes.$FONT_MS + 4px);
  }

  span {
    color: colors.$GRAY9;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: sizes.$FONT_S;
    line-height: calc(sizes.$FONT_MS + 4px);
  }
}

.link {
  span {
    text-decoration: underline;
  }
}
