@use '@/styles/constants/colors';
@use '@/styles/constants/sizes';

.sectionWrapper {
  width: 100%;
  margin-bottom: 25px;
}

.title {
  width: 100%;
  height: calc(sizes.$FONT_XL + 10px);
  font-size: sizes.$FONT_XL;
  line-height: calc(sizes.$FONT_XL + 10px);
  background-color: colors.$SLATE2;
  color: colors.$SLATE8;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 0 10px;
}

.inner {
  width: 100%;
  padding: 0 10px;
}
